<nav class=" dark:bg-gray-900 left-0 top-0 right-0 w-full">
  <div
    class="max-w-screen-xxl flex px-4 py-1 bg-gray-100 flex-wrap items-center justify-between mx-auto"
  >
    <a class="flex items-center space-x-3 rtl:space-x-reverse">
      <span class="self-center ml-64 text-2xl font-semibold whitespace-nowrap"
        >Settings</span
      >
    </a>
    <div
      class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse"
    ></div>
    <div
      class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
      id="navbar-cta"
    >
      <ul
        class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700"
      >
        <li>
          <a
            routerLink="/home/settings/viewCompany"
            class="block py-2 px-3 md:p-0"
            aria-current="page"
            >Company Profile</a
          >
        </li>
        <li>
          <a
            routerLink="/home/settings/userProfile"
            class="block py-2 px-3 md:p-0"
            aria-current="page"
            >userProfile</a
          >
        </li>
        <li>
          <a
            routerLink="/home/settings/listBank"
            routerLinkActive="active"
            class="block py-2 px-3 md:p-0"
            >Bank</a
          >
        </li>
        <li>
          <a
            routerLink="/home/settings/sign"
            routerLinkActive="active"
            class="block py-2 px-3 md:p-0"
            >Signature</a
          >
        </li>
        <li>
          <a href="#" class="block py-2 px-3 md:p-0">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
