<section>
  <div class="ml-64">
    <section class="bg-white dark:bg-gray-900">
      <div class="mx-auto max-w-2xl px-4 py-8 lg:py-16">
        <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">
          Company Profile
        </h2>
        <!-- <form [formGroup]="addlogo">
          <label
            for="name"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Upload Logo</label>
          <div class="grid gap-4 sm:grid-cols-2 mt-6 sm:gap-6">
            <div class="relative w-72">
              <label title="Click to upload" for="button2" class="cursor-pointer flex items-center gap-4 px-6 py-4 before:border-gray-400/60 hover:before:border-gray-300 group before:bg-gray-100 before:absolute before:inset-0 before:rounded-3xl before:border before:border-dashed before:transition-transform before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95">
                <div class="w-max relative">
                  <img class="w-12" src="https://www.svgrepo.com/show/485545/upload-cicle.svg" alt="file upload icon" width="512" height="512">
                </div>
                <div class="relative">
                  <span class="block text-base font-semibold relative text-blue-900 group-hover:text-blue-500">
                    Choose a file
                  </span>
                  <input  type="file" id="button2" formControlName="comLogo" (change)= "onChangeFile($event)" >
                  <span class="mt-0.5 block text-sm text-gray-500">Max 1 MB</span>
                </div>
              </label>
              
            </div>
            <div class="sm:col-span-1 my-auto">
              <button  type="submit"  class="text-blue-600 hover:text-blue-800 font-semibold underline">click here to Upload file</button>
            </div>
          </div>
        </form> -->
        <form [formGroup]="addlogo">
          <label
            for="name"
            class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
            >Logo Upload-(maximum 1MB)</label
          >

          <div *ngIf="previewUrl" class="relative mt-4 w-56 bg-gray-400">
            <div class="flex items-center justify-center">
              <img [src]="previewUrl" alt="Image Preview" class="" />

              <!-- Delete button -->
              <div
                class="absolute inset-0 flex items-center justify-center opacity-0 transition-opacity duration-300 hover:opacity-100"
              >
                <button
                  type="button"
                  (click)="clearFile()"
                  class="flex h-full w-full items-center justify-center rounded bg-black/50 text-white"
                >
                  <svg
                    class="h-6 w-6 text-white"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    fill="none"
                    viewBox="0 0 24 24"
                  >
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"
                    />
                  </svg>
                </button>
              </div>
            </div>
          </div>

          <div
            *ngIf="!previewUrl"
            class="flex w-full items-center justify-center"
            (dragover)="onDragOver($event)"
            (drop)="onDrop($event)"
          >
            <label
              for="dropzone-file"
              class="dark:hover:bg-bray-800 flex h-64 w-full cursor-pointer flex-col items-center justify-center rounded-lg border-2 border-dashed border-gray-300 bg-gray-50 hover:bg-gray-100 dark:border-gray-600 dark:bg-gray-700 dark:hover:border-gray-500 dark:hover:bg-gray-600"
            >
              <div class="flex flex-col items-center justify-center pb-6 pt-5">
                <svg
                  class="mb-4 h-8 w-8 text-gray-500 dark:text-gray-400"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 20 16"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"
                  />
                </svg>
                <p class="mb-2 text-sm text-gray-500 dark:text-gray-400">
                  <span class="font-semibold">Click to upload</span> or drag and
                  drop
                </p>
                <p class="text-xs text-gray-500 dark:text-gray-400">
                  PNG (MAX. 800x400px)
                </p>
              </div>
              <input
                type="file"
                id="dropzone-file"
                (change)="onChangeFile($event)"
                accept="image/png"
                hidden
              />
            </label>
          </div>

          <!-- <button type="submit" class="mt-4">Upload</button> -->
        </form>

        <form [formGroup]="addcompany">
          <div class="mt-6 grid gap-4 sm:grid-cols-4 sm:gap-6">
            <div class="sm:col-span-3">
              <label
                for="name"
                class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
                >Login Email (Primary Email)</label
              >
              <input
                type="text"
                formControlName="emailId"
                name="name"
                id="name"
                class="focus:ring-primary-600 focus:border-primary-600 dark:focus:ring-primary-500 dark:focus:border-primary-500 block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
                placeholder=""
                required=""
              />
            </div>
            <div class="sm:col-span-2">
              <label
                for="name"
                class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
                >Company Name</label
              >
              <input
                type="text"
                formControlName="comName"
                name="name"
                id="name"
                class="focus:ring-primary-600 focus:border-primary-600 dark:focus:ring-primary-500 dark:focus:border-primary-500 block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
                placeholder=""
                required=""
              />
              <small
                class="text-red-600"
                *ngIf="
                  addcompany.get('comName')?.hasError('pattern') &&
                  addcompany.get('comName')?.touched
                "
                >Invalid pattern!</small
              >
              <small
                class="text-red-600"
                *ngIf="
                  addcompany.get('comName')?.hasError('required') &&
                  addcompany.get('comName')?.touched
                "
                >Name is required!</small
              >
            </div>
            <div class="sm:col-span-2">
              <label
                for="name"
                class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
                >Company Email</label
              >
              <input
                type="text"
                formControlName="comEmail"
                name="name"
                id="name"
                class="focus:ring-primary-600 focus:border-primary-600 dark:focus:ring-primary-500 dark:focus:border-primary-500 block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
                placeholder=""
                required=""
              />
              <small
                class="text-red-600"
                *ngIf="
                  addcompany.get('comEmail')?.hasError('pattern') &&
                  addcompany.get('comEmail')?.touched
                "
                >Invalid Email pattern!</small
              >
              <small
                class="text-red-600"
                *ngIf="
                  addcompany.get('comEmail')?.hasError('required') &&
                  addcompany.get('comEmail')?.touched
                "
                >Email should not be Empty!</small
              >
            </div>
          </div>
          <div class="mt-6 grid gap-4 sm:grid-cols-2 sm:gap-6">
            <div class="w-full">
              <label
                for="brand"
                class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
                >GST Number</label
              >
              <input
                type="text"
                formControlName="comGst"
                name="brand"
                id="brand"
                class="focus:ring-primary-600 focus:border-primary-600 dark:focus:ring-primary-500 dark:focus:border-primary-500 block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
                placeholder=""
                required=""
              />
              <small
                class="text-red-600"
                *ngIf="
                  addcompany.get('GST')?.hasError('required') &&
                  addcompany.get('GST')?.touched
                "
                >GST is required!</small
              >
              <small
                class="text-red-600"
                *ngIf="
                  addcompany.get('GST')?.hasError('pattern') &&
                  addcompany.get('GST')?.touched
                "
                >Invalid GST pattern.Please Check!</small
              >
            </div>
            <div class="w-full">
              <label
                for="brand"
                class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
                >PAN Number</label
              >
              <input
                type="text"
                formControlName="comPan"
                name="brand"
                id="brand"
                class="focus:ring-primary-600 focus:border-primary-600 dark:focus:ring-primary-500 dark:focus:border-primary-500 block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
                placeholder=""
                required=""
              />
              <small
                class="text-red-600"
                *ngIf="
                  addcompany.get('comPan')?.hasError('pattern') &&
                  addcompany.get('comPan')?.touched
                "
                >Pattern does not match !</small
              >
              <small
                class="text-red-600"
                *ngIf="
                  addcompany.get('comPan')?.hasError('required') &&
                  addcompany.get('comPan')?.touched
                "
                >Pan number should not be Empty!</small
              >
            </div>
            <div class="sm:col-span-2">
              <label
                for="name"
                class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
                >Contact Person Name</label
              >
              <input
                type="text"
                formControlName="comConPerson"
                name="name"
                id="name"
                class="focus:ring-primary-600 focus:border-primary-600 dark:focus:ring-primary-500 dark:focus:border-primary-500 block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
                placeholder=""
                required=""
              />
              <small
                class="text-red-600"
                *ngIf="
                  addcompany.get('comConPerson')?.hasError('pattern') &&
                  addcompany.get('comConPerson')?.touched
                "
                >Invalid Pattern!</small
              >
              <small
                class="text-red-600"
                *ngIf="
                  addcompany.get('comConPerson')?.hasError('required') &&
                  addcompany.get('comConPerson')?.touched
                "
                >BrandName is required!</small
              >
            </div>
            <div class="w-full">
              <label
                for="brand"
                class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
                >Phone Number</label
              >
              <input
                type="text"
                formControlName="comConPhone"
                name="brand"
                id="brand"
                class="focus:ring-primary-600 focus:border-primary-600 dark:focus:ring-primary-500 dark:focus:border-primary-500 block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
                placeholder=""
                required=""
              />
              <small
                class="text-red-600"
                *ngIf="
                  addcompany.get('comConPhone')?.hasError('pattern') &&
                  addcompany.get('comConPhone')?.touched
                "
                >Phone No should be in 10-Digits!</small
              >
              <small
                class="text-red-600"
                *ngIf="
                  addcompany.get('comConPhone')?.hasError('required') &&
                  addcompany.get('comConPhone')?.touched
                "
                >Phone No should not be Empty!</small
              >
            </div>
            <div class="w-full">
              <label
                for="brand"
                class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
                >Landline Number</label
              >
              <input
                type="text"
                formControlName="comLandLine"
                name="brand"
                id="brand"
                class="focus:ring-primary-600 focus:border-primary-600 dark:focus:ring-primary-500 dark:focus:border-primary-500 block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
                placeholder=""
                required=""
              />
              <small
                class="text-red-600"
                *ngIf="
                  addcompany.get('comLandLine')?.hasError('pattern') &&
                  addcompany.get('comLandLine')?.touched
                "
                >Enter Valid Pattern!</small
              >
            </div>
            <div class="w-full">
              <label
                for="brand"
                class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
                >WebSite</label
              >
              <input
                type="text"
                formControlName="comUrl"
                name="brand"
                id="brand"
                class="focus:ring-primary-600 focus:border-primary-600 dark:focus:ring-primary-500 dark:focus:border-primary-500 block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
                placeholder=""
                required=""
              />
            </div>
            <!-- <div class="w-full ">
                            <label for="brand" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                            <input type="text" 
                            formControlName="emailId" name="brand" id="brand" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="State name" required="">
                        </div>  -->
          </div>
          <button
            type="submit"
            (click)="SubmitCompany(addcompany.value)"
            class="mt-4 inline-flex items-center rounded-lg bg-green-700 px-8 py-2.5 text-center text-sm font-medium text-white hover:bg-green-800 focus:ring-4 focus:ring-green-200 sm:mt-6 dark:focus:ring-green-900"
          >
            Save Company
          </button>

          <div>
            <div>
              <h2
                class="mb-4 mt-10 text-xl font-bold text-gray-900 dark:text-white"
              >
                Add Address
              </h2>
              <div formArrayName="companyAddressDto">
                <div
                  *ngFor="
                    let address of companyAddressDto.controls;
                    let i = index
                  "
                >
                  <div
                    [formGroupName]="i"
                    class="grid gap-4 sm:grid-cols-2 sm:gap-6"
                  >
                    <div class="sm:col-span-2">
                      <label
                        for="name"
                        class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
                        >Address1</label
                      >
                      <input
                        type="text"
                        formControlName="comBAdd1"
                        name="name"
                        id="name"
                        class="focus:ring-primary-600 focus:border-primary-600 dark:focus:ring-primary-500 dark:focus:border-primary-500 block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
                        placeholder="Building no/street Name/area"
                        required=""
                      />
                    </div>
                    <div class="sm:col-span-2">
                      <label
                        for="name"
                        class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
                        >Address 2</label
                      >
                      <input
                        type="text"
                        formControlName="comBAdd2"
                        name="name"
                        id="name"
                        class="focus:ring-primary-600 focus:border-primary-600 dark:focus:ring-primary-500 dark:focus:border-primary-500 block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
                        placeholder="Building no/street Name/area"
                        required=""
                      />
                    </div>
                    <div class="w-full">
                      <label
                        for="brand"
                        class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
                        >City</label
                      >
                      <input
                        type="text"
                        formControlName="comBCity"
                        name="brand"
                        id="brand"
                        class="focus:ring-primary-600 focus:border-primary-600 dark:focus:ring-primary-500 dark:focus:border-primary-500 block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
                        placeholder="City name"
                        required=""
                      />
                    </div>
                    <div class="w-full">
                      <label
                        for="brand-{{ i }}"
                        class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
                        >State</label
                      >
                      <input
                        type="text"
                        formControlName="comBState"
                        name="brand"
                        id="brand"
                        class="focus:ring-primary-600 focus:border-primary-600 dark:focus:ring-primary-500 dark:focus:border-primary-500 block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
                        placeholder="State name"
                        required=""
                      />
                    </div>
                    <div class="w-full">
                      <label
                        for="brand"
                        class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
                        >Pincode</label
                      >
                      <input
                        type="text"
                        formControlName="comBPcode"
                        name="brand"
                        id="brand"
                        class="focus:ring-primary-600 focus:border-primary-600 dark:focus:ring-primary-500 dark:focus:border-primary-500 block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
                        placeholder="eg:605034"
                        required=""
                      />
                    </div>

                    <div class="flex gap-3">
                      <div *ngIf="_viewCompany?.companyAddressDto?.length > 0">
                        <button
                          type="submit"
                          (click)="addressDelete()"
                          class="mt-7 inline-flex items-center rounded-lg bg-red-600 px-5 py-2.5 text-center text-sm font-medium text-white transition-all duration-500 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800"
                        >
                          <svg
                            class="mr-1 h-5 w-5 text-white"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            fill="none"
                            viewBox="0 0 24 24"
                          >
                            <path
                              stroke="currentColor"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="2"
                              d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"
                            />
                          </svg>

                          Delete Address
                        </button>
                      </div>
                      <div *ngIf="_viewCompany?.companyAddressDto?.length == 0">
                        <button
                          (click)="addAddressApi(addcompany.value)"
                          type="submit"
                          class="mt-7 inline-flex items-center rounded-lg bg-green-600 px-5 py-2.5 text-center text-sm font-medium text-white transition-all duration-500 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="size-6"
                          >
                            <path
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3"
                            />
                          </svg>

                          Save Address
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </section>
  </div>
</section>
<section
  *ngIf="successToster"
  class="fixed right-0 top-0 z-40 mt-6 flex w-screen"
>
  <div class="mx-auto">
    <app-toster [message]="message"></app-toster>
  </div>
</section>
