<section>
  <div class="ml-64">
    <section class="bg-white dark:bg-gray-900">
      <div class="mx-auto max-w-2xl px-4 py-8 lg:py-16">
        <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">
          Stock Details
        </h2>
        <form [formGroup]="addstockform">
          <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
            <div class="w-full">
              <label
                for="brand"
                class="mb-2 inline-flex text-sm font-medium text-gray-900 dark:text-white"
                >Product Group</label
              >

              <select
                #grpId
                (change)="getCatList(grpId.value)"
                formControlName="prdGrpId"
                class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
              >
                <option
                  *ngFor="let group of productGroups"
                  value="{{ group.prdGrpId }}"
                >
                  {{ group.prdGrop }}
                </option>
              </select>
              <small
                class="text-red-600"
                *ngIf="
                  addstockform.get('prdGrpId')?.hasError('required') &&
                  addstockform.get('prdGrpId')?.touched
                "
                >Group is required!</small
              >
            </div>
            <div class="w-full">
              <label
                for="price"
                class="mb-2 inline-flex text-sm font-medium text-gray-900 dark:text-white"
                >Product Category</label
              >

              <select
                #catId
                formControlName="prdCateId"
                (change)="getBand(catId.value)"
                class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
              >
                <option *ngFor="let cat of catList" value="{{ cat.prdCateId }}">
                  {{ cat.prdCategory }}
                </option>
              </select>
              <small
                class="text-red-600"
                *ngIf="
                  addstockform.get('prdCateId')?.hasError('required') &&
                  addstockform.get('prdCateId')?.touched
                "
                >Category is required!</small
              >
            </div>

            <div class="w-full">
              <label
                for="brand"
                class="mb-2 inline-flex text-sm font-medium text-gray-900 dark:text-white"
                >Product Brand</label
              >

              <select
                formControlName="prdBrand"
                #brandId
                (change)="getModelList(brandId.value)"
                class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
              >
                <option
                  *ngFor="let brand of brand"
                  value="{{ brand.prdBrandId }}"
                >
                  {{ brand.prdBrand }}
                </option>
              </select>
              <small
                class="text-red-600"
                *ngIf="
                  addstockform.get('prdBrandId')?.hasError('required') &&
                  addstockform.get('prdBrandId')?.touched
                "
                >Brand is required!</small
              >
            </div>
            <div class="w-full">
              <label
                for="brand"
                class="mb-2 inline-flex text-sm font-medium text-gray-900 dark:text-white"
                >Product Model</label
              >

              <select
                formControlName="prdModel"
                #pID
                (change)="getDescriptionList(pID.value)"
                class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
              >
                <option
                  *ngFor="let item of _modelList"
                  value="{{ item.prdModel }}"
                >
                  {{ item.prdModel }}
                </option>
              </select>
              <small
                class="text-red-600"
                *ngIf="
                  addstockform.get('prdBrandId')?.hasError('required') &&
                  addstockform.get('prdBrandId')?.touched
                "
                >Brand is required!</small
              >
            </div>
          </div>

          <div class="w-full">
            <label
              for="brand"
              class="mb-2 inline-flex text-sm font-medium text-gray-900 dark:text-white"
              >Product Description</label
            >

            <select
              formControlName="prdModel"
              #dID
              (change)="getProduct(dID.value)"
              class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
            >
              <option
                *ngFor="let item of _description"
                value="{{ item.prdId }}"
              >
                {{ item.prdDescription }}
              </option>
            </select>
            <small
              class="text-red-600"
              *ngIf="
                addstockform.get('prdBrandId')?.hasError('required') &&
                addstockform.get('prdBrandId')?.touched
              "
              >Brand is required!</small
            >
          </div>
          <div class="mt-4 grid gap-4 sm:grid-cols-2 sm:gap-6">
            <div class="w-full">
              <label
                for="brand"
                class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
                >HSN Code</label
              >
              <input
                formControlName="prdHsn"
                type="number"
                name="brand"
                id="brand"
                class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-600 focus:ring-blue-600 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
                placeholder="HSN code"
                required=""
              />
            </div>

            <div class="w-full">
              <label
                for="brand"
                class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
                >Unit Price</label
              >
              <input
                formControlName="prdUnitPrice"
                type="number"
                name="brand"
                id="brand"
                class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-600 focus:ring-blue-600 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
                placeholder="$20000"
                required=""
              />
            </div>
          </div>

          <div class="mt-4 grid gap-5 sm:grid-cols-2 sm:gap-6">
            <div class="w-full">
              <label
                for="price"
                class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
                >Product GST Status</label
              >
              <select
                id="countries"
                formControlName="prdGstStatus"
                class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
              >
                <option value="200">With GST</option>
                <option value="400">Without GST</option>
              </select>
            </div>

            <div class="w-full">
              <label
                for="price"
                class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
                >Product GST Rate</label
              >
              <select
                id="countries"
                formControlName="prdGstPercent"
                class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
              >
                <option value="0">0%</option>
                <option value="5">5%</option>
                <option value="12">12%</option>
                <option value="18">18%</option>
              </select>
            </div>
          </div>
          <div class="mt-4 grid gap-4 sm:grid-cols-2 sm:gap-6">
            <div class="w-full">
              <label
                for="brand"
                class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
                >Opening</label
              >
              <input
                formControlName=""
                type="number"
                name="brand"
                id="brand"
                class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-600 focus:ring-blue-600 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
                placeholder=""
                required=""
              />
            </div>

            <div class="w-full">
              <label
                for="brand"
                class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
                >Closing</label
              >
              <input
                formControlName=""
                type="number"
                name="brand"
                id="brand"
                class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-600 focus:ring-blue-600 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
                placeholder=""
                required=""
              />
            </div>
          </div>
          <div class="mt-4 grid gap-4 sm:grid-cols-2 sm:gap-6">
            <div class="w-full">
              <label
                for="brand"
                class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
                >Stock In</label
              >
              <input
                formControlName=""
                type="number"
                name="brand"
                id="brand"
                class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-600 focus:ring-blue-600 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
                placeholder=""
                required=""
              />
            </div>
          </div>

          <button
            type="submit"
            class="mt-4 inline-flex items-center rounded-lg bg-blue-700 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-blue-800 focus:ring-4 focus:ring-blue-200 sm:mt-6 dark:focus:ring-blue-900"
          >
            Add Stock
          </button>
        </form>
      </div>
    </section>
  </div>
</section>
