<div
  id="toast-success"
  class="animate-topDown flex w-full max-w-xs items-center rounded-lg bg-white p-2 text-gray-500 shadow dark:bg-gray-800 dark:text-gray-400"
  role="alert"
>
  <svg
    class="h-5 w-5 text-green-500"
    aria-hidden="true"
    xmlns="http://www.w3.org/2000/svg"
    fill="currentColor"
    viewBox="0 0 20 20"
  >
    <path
      d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
    />
  </svg>
  <span class="sr-only">Check icon</span>
  <div class="ms-3 text-sm font-normal">{{ message }}</div>
</div>
