<section class="bg-gray-100">
  <div class="p-4 sm:ml-64">
    <div class="rounded-lg bg-white p-4">
      <div class="flex h-12 items-end justify-between">
        <h1 class="mb-4 text-xl">Company Details</h1>
        <button
          routerLink="/home/settings/companyProfile"
          class="rounded-lg bg-blue-600 p-2 text-white"
        >
          Add & Update Company
        </button>
      </div>

      <div
        class="mt-4 flow-root rounded-lg border border-gray-100 py-3 shadow-sm"
      >
        <img
          class="ms-auto h-auto max-w-lg items-end"
          src="/docs/images/examples/image-1@2x.jpg"
          alt="image description"
        />

        <dl class="-my-3 divide-y divide-gray-100 text-sm">
          <div
            class="grid grid-cols-1 gap-1 p-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4"
          >
            <dt class="font-medium text-gray-900">Login Email:</dt>
            <dd class="text-gray-700 sm:col-span-2">
              {{ _companyDetails.emailId }}
            </dd>
          </div>
          <div
            class="grid grid-cols-1 gap-1 p-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4"
          >
            <dt class="font-medium text-gray-900">Company Name:</dt>
            <dd class="text-gray-700 sm:col-span-2">
              {{ _companyDetails.comName }}
            </dd>
          </div>

          <div
            class="grid grid-cols-1 gap-1 p-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4"
          >
            <dt class="font-medium text-gray-900">Company Email:</dt>
            <dd class="text-gray-700 sm:col-span-2">
              {{ _companyDetails.comEmail }}
            </dd>
          </div>

          <div
            class="grid grid-cols-1 gap-1 p-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4"
          >
            <dt class="font-medium text-gray-900">GST Number:</dt>
            <dd class="text-gray-700 sm:col-span-2">
              {{ _companyDetails.comGst }}
            </dd>
          </div>

          <div
            class="grid grid-cols-1 gap-1 p-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4"
          >
            <dt class="font-medium text-gray-900">PAN Number:</dt>
            <dd class="text-gray-700 sm:col-span-2">
              {{ _companyDetails.comPan }}
            </dd>
          </div>
          <div
            class="grid grid-cols-1 gap-1 p-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4"
          >
            <dt class="font-medium text-gray-900">Contact Person Name:</dt>
            <dd class="text-gray-700 sm:col-span-2">
              {{ _companyDetails.comConPerson }}
            </dd>
          </div>
          <div
            class="grid grid-cols-1 gap-1 p-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4"
          >
            <dt class="font-medium text-gray-900">
              Contact Person PhoneNumber:
            </dt>
            <dd class="text-gray-700 sm:col-span-2">
              {{ _companyDetails.comConPhone }}
            </dd>
          </div>
          <div
            class="grid grid-cols-1 gap-1 p-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4"
          >
            <dt class="font-medium text-gray-900">LandLine Number:</dt>
            <dd class="text-gray-700 sm:col-span-2">
              {{ _companyDetails.comLandLine }}
            </dd>
          </div>
          <div
            class="grid grid-cols-1 gap-1 p-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4"
          >
            <dt class="font-medium text-gray-900">Company Website:</dt>
            <dd class="text-gray-700 sm:col-span-2">
              {{ _companyDetails.comUrl }}
            </dd>
          </div>
        </dl>
      </div>
    </div>
    <div class="mt-4 rounded-lg bg-white p-4">
      <div>
        <h1 class="mb-4 text-xl">Billing Address</h1>
      </div>
      <div class="flow-root rounded-lg border border-gray-100 py-3 shadow-sm">
        <dl class="-my-3 divide-y divide-gray-100 text-sm">
          <div
            class="grid grid-cols-1 gap-1 p-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4"
          >
            <dt class="font-medium text-gray-900">Address</dt>
            <dd class="text-gray-700 sm:col-span-2">
              {{ _companyDetails.comBAdd1 }}<br />{{
                _companyDetails.comBAdd2
              }}
              <br />{{ _companyDetails.comBCity }}<br />{{
                _companyDetails.comBState
              }}
            </dd>
          </div>
          <div
            class="grid grid-cols-1 gap-1 p-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4"
          >
            <dt class="font-medium text-gray-900">Pincode</dt>
            <dd class="text-gray-700 sm:col-span-2">
              {{ _companyDetails.comBPcode }}
            </dd>
          </div>
        </dl>
      </div>
    </div>

    <div class="mt-4 rounded-lg bg-white p-4">
      <div>
        <h1 class="mb-4 text-xl">Shipping Address</h1>
      </div>
      <div class="flow-root rounded-lg border border-gray-100 py-3 shadow-sm">
        <dl class="-my-3 divide-y divide-gray-100 text-sm">
          <div
            class="grid grid-cols-1 gap-1 p-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4"
          >
            <dt class="font-medium text-gray-900">Address</dt>
            <dd class="text-gray-700 sm:col-span-2">
              {{ _companyDetails.comSAdd1 }}<br />{{
                _companyDetails.comSAdd2
              }}
              <br />{{ _companyDetails.comSCity }}<br />{{
                _companyDetails.comSState
              }}
            </dd>
          </div>
          <div
            class="grid grid-cols-1 gap-1 p-3 even:bg-gray-50 sm:grid-cols-3 sm:gap-4"
          >
            <dt class="font-medium text-gray-900">Pincode</dt>
            <dd class="text-gray-700 sm:col-span-2">
              {{ _companyDetails.comSPcode }}
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
</section>
