<section>
  <div class="ml-64">
    <section class="bg-white dark:bg-gray-900">
      <div class="mx-auto max-w-2xl px-4 py-8 lg:py-16">
        <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">
          Stock Outward
        </h2>

        <form class="mx-auto flex max-w-lg items-center" autocomplete="off">
          <label for="voice-search" class="sr-only">Search</label>
          <div class="relative w-full">
            <div
              class="pointer-events-none absolute inset-y-0 start-0 flex items-center ps-3"
            ></div>
            <input
              type="text"
              id="voice-search"
              class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 ps-10 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
              placeholder="Search Mockups, Logos, Design Templates..."
              required
            />
            <ul
              *ngIf="suggestions.length > 0"
              class="absolute z-10 mt-1 max-h-48 w-full overflow-y-auto rounded-md bg-white shadow-lg dark:bg-gray-700"
            >
              <li
                *ngFor="let suggestion of suggestions"
                (click)="selectSuggestion(suggestion)"
                class="cursor-pointer px-4 py-2 hover:bg-blue-500 hover:text-white dark:hover:bg-blue-600"
              >
                {{ suggestion }}
              </li>
            </ul>
          </div>
          <button
            (click)="searchProductId()"
            type="button"
            class="ms-2 inline-flex items-center rounded-lg border border-blue-700 bg-blue-700 px-3 py-2.5 text-sm font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          >
            <svg
              class="me-2 h-4 w-4"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 20 20"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
              /></svg
            >Search
          </button>
        </form>
        <div *ngIf="isShowbox" class="mx-auto mt-4 flex max-w-lg items-center">
          <div
            class="block max-w-sm rounded-lg border border-gray-200 bg-white p-6 shadow hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700"
          >
            <h5
              class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
            >
              Product ID: <span>{{ _product.prdAutoId }}</span>
            </h5>
            <h1 class="font-normal text-gray-700 dark:text-gray-400">
              Product Model:
              <span class="text-blue-700">{{ _product.prdModel }}</span>
            </h1>
            <h1 class="font-normal text-gray-700 dark:text-gray-400">
              Product Description:
              <span class="text-blue-700">{{ _product.prdDescription }}</span>
            </h1>
            <h1 class="font-normal text-gray-700 dark:text-gray-400">
              HSN Code: <span class="text-blue-700">{{ _product.prdHsn }}</span>
            </h1>
            <h1 class="font-normal text-gray-700 dark:text-gray-400">
              GST Price:
              <span class="text-blue-700">{{ _product.prdGstPercent }}</span>
            </h1>

            <h1 class="font-normal text-gray-700 dark:text-gray-400">
              Unit Price:
              <span class="text-blue-700">{{ _product.prdUnitPrice }}</span>
            </h1>

            <h1 class="font-normal text-gray-700 dark:text-gray-400">
              Quantity:
              <span class="text-blue-700">{{ _product.prdStackQuantity }}</span>
            </h1>
          </div>
          <div class="ml-4">
            <label
              for="first_name"
              class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
              >stock in</label
            >
            <input
              type="text"
              id="first_name"
              class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
              required
            />
          </div>
          <button
            type="button"
            class="ml-4 mt-6 inline-flex items-center rounded-full border border-blue-700 p-2.5 text-center text-sm font-medium text-blue-700 hover:bg-blue-700 hover:text-white focus:outline-none focus:ring-4 focus:ring-blue-300 dark:border-blue-500 dark:text-blue-500 dark:hover:bg-blue-500 dark:hover:text-white dark:focus:ring-blue-800"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 4.5v15m7.5-7.5h-15"
              />
            </svg>

            <span class="sr-only">Icon description</span>
          </button>
        </div>
        <div>
          <button
            type="button"
            class="mb-2 me-2 ml-16 mt-4 rounded-lg bg-blue-700 px-5 py-2.5 text-sm font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          >
            Save
          </button>
        </div>

        <p
          *ngIf="selectedSuggestion"
          class="mt-4 text-gray-700 dark:text-gray-300"
        >
          You selected: {{ selectedSuggestion }}
        </p>
      </div>
    </section>
  </div>
</section>
