<section
  class="flex bg-black bg-opacity-45 bg-cover bg-center backdrop-blur-sm"
>
  <div class="w-1/2 bg-cover hover:backdrop-blur-sm"></div>
  <div
    class="animate-slide-in-right p-100 duration-800 flex w-1/2 flex-1 items-end justify-end space-x-20 bg-white"
  >
    <div
      class="h-screen w-full space-y-10 overflow-y-scroll p-10 text-black backdrop-blur-lg"
    >
      <!-- <div class="p-4 rounded-lg">
                <img src="https://floatui.com/logo.svg" width="300" class="lg:hidden" />

            </div> -->
      <!-- component -->
      <div class="flex gap-8">
        <button
          type="button"
          class="hover:text-gray-5 inline-flex items-center justify-center rounded-md p-2 text-black hover:text-red-600 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500"
        >
          <span class="sr-only">Close menu</span>
          <!-- Heroicon name: outline/x -->
          <svg
            class="h-5 w-5"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </button>
        <h1 class="mb-6 text-2xl font-bold">Signature upload</h1>
      </div>
      <div class="container mx-auto mt-12">
        <form [formGroup]="addSign">
          <label
            for="name"
            class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
            >Logo Upload</label
          >
          <div *ngIf="previewUrl" class="relative mt-4 w-56 bg-gray-400">
            <div class="flex items-center justify-center">
              <img [src]="previewUrl" alt="Image Preview" class="" />

              <!-- Delete button -->
              <div
                class="absolute inset-0 flex items-center justify-center opacity-0 transition-opacity duration-300 hover:opacity-100"
              >
                <button
                  type="button"
                  (click)="clearFile()"
                  class="flex h-full w-full items-center justify-center rounded bg-black/50 text-white"
                >
                  <svg
                    class="h-6 w-6 text-white"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    fill="none"
                    viewBox="0 0 24 24"
                  >
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"
                    />
                  </svg>
                </button>
              </div>
            </div>
          </div>

          <div
            *ngIf="!previewUrl"
            class="flex w-full items-center justify-center"
            (dragover)="onDragOver($event)"
            (drop)="onDrop($event)"
          >
            <label
              for="dropzone-file"
              class="dark:hover:bg-bray-800 flex h-64 w-full cursor-pointer flex-col items-center justify-center rounded-lg border-2 border-dashed border-gray-300 bg-gray-50 hover:bg-gray-100 dark:border-gray-600 dark:bg-gray-700 dark:hover:border-gray-500 dark:hover:bg-gray-600"
            >
              <div class="flex flex-col items-center justify-center pb-6 pt-5">
                <svg
                  class="mb-4 h-8 w-8 text-gray-500 dark:text-gray-400"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 20 16"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"
                  />
                </svg>
                <p class="mb-2 text-sm text-gray-500 dark:text-gray-400">
                  <span class="font-semibold">Click to upload</span> or drag and
                  drop
                </p>
                <p class="text-xs text-gray-500 dark:text-gray-400">
                  PNG (MAX. 800x400px)
                </p>
              </div>
              <input
                type="file"
                id="dropzone-file"
                (change)="onChangeFile($event)"
                accept="image/png"
                hidden
              />
            </label>
          </div>
          <button
            disabled
            type="button"
            class="me-2 mt-10 inline-flex items-center rounded-lg bg-blue-700 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          >
            upload
          </button>

          <!-- <button type="submit" class="mt-4">Upload</button> -->
        </form>
      </div>
    </div>
  </div>
</section>
