<body class="">
  <div
    id="popup-wrapper"
    class="fixed inset-0 z-50 flex items-center justify-center bg-gray-700 bg-opacity-50"
  >
    <div
      class="animate animate-fadeInUp relative m-8 max-h-full max-w-4xl overflow-y-auto rounded-lg bg-white p-8 shadow-2xl"
    >
      <div class="quotation-container mb-8 grid grid-cols-2 gap-8">
        <div class="left-column">
          <h2 class="font text-xl font-bold">QUOTATION</h2>
          <p class="text-sm text-black">Original for Recipient</p>
          <div class="mb-4 mt-8 flex justify-start">
            <!-- <img
              src="../../../assets/img/cloute technologies.jpg"
              alt="Company Logo"
              class="h-24 w-24 object-contain"
            /> -->
          </div>
        </div>
        <div class="right-column mt-12 text-right">
          <h2 class="text-md font-semibold">
            CLOUTE TECHNOLOGIES PRIVATE LIMITED
          </h2>
          <p class="text-sm text-black">
            GSTIN: 29AAGCC3235L1ZG PAN: AAGCC3235L
          </p>
          <p class="text-sm text-black">
            1125, 21st 'A' Cross, 14th Main Road, Sector-3, HSR Layout
          </p>
          <p class="text-sm text-black">Bengaluru Urban, KARNATAKA, 560102</p>
          <p class="text-sm text-black">
            Mobile: +91 8197999930 Email: saigovindcloute.co.in
          </p>
          <p class="text-sm text-black">Website: www.cloute.co.in</p>
        </div>
      </div>

      <div class="mb-8 text-left">
        <p class="text-xl font-bold">Quotation #: EST202425-64</p>
        <p class="text-sm">Quotation Date: 10 Jun 2024</p>
        <p class="text-sm">Due Date: 10 Jun 2024</p>
      </div>

      <div class="mb-8 grid grid-cols-2 gap-8">
        <div>
          <h3 class="text-2xl font-bold">Customer Details:</h3>
          <p class="text-sm">Mr. Naveen</p>
          <p class="text-sm">The association of people with disability</p>
          <p class="text-sm">GSTIN: 29AAATT1921H1ZI</p>
          <p class="text-sm">Ph: 9591987946</p>
          <p class="text-sm">naveenapd-india.org</p>
          <p class="text-sm">Place of Supply: 29-KARNATAKA</p>
        </div>
        <div>
          <h3 class="text-2xl font-bold">Billing Address:</h3>
          <p class="text-sm">1, THE ASSOCIATION OF PEOPLE WITH DISABILITY</p>
          <p class="text-sm">6TH CROSS HUTCHINS ROAD, LINGARAJAPURAM</p>
          <p class="text-sm">Bengaluru Urban, KARNATAKA, 560084</p>
          <p class="text-sm">Reference: Mail Confirmation</p>
        </div>
      </div>

      <table
        class="mb-4 w-full overflow-hidden rounded-lg border border-gray-300 bg-gray-50 shadow-md"
      >
        <thead class="bg-blue-600 text-white">
          <tr>
            <th class="border-b px-6 py-3 text-sm">#</th>
            <th class="border-b px-6 py-3 text-sm">Item</th>
            <th class="border-b px-6 py-3 text-sm">Rate / Item</th>
            <th class="border-b px-6 py-3 text-sm">Qty</th>
            <th class="border-b px-6 py-3 text-sm">Taxable Value</th>
            <th class="border-b px-6 py-3 text-sm">Tax Amount</th>
            <th class="border-b px-6 py-3 text-sm">Amount</th>
          </tr>
        </thead>
        <tbody class="bg-white">
          <tr>
            <td class="border-b px-6 py-4 text-sm">1</td>
            <td class="border-b px-6 py-4 text-sm">HP SATA SSD 512GB</td>
            <td class="border-b px-6 py-4 text-sm">3,500.00</td>
            <td class="border-b px-6 py-4 text-sm">7</td>
            <td class="border-b px-6 py-4 text-sm">24,500.00</td>
            <td class="border-b px-6 py-4 text-sm">4,410.00 (18%)</td>
            <td class="border-b px-6 py-4 text-sm">28,910.00</td>
          </tr>
          <tr>
            <td class="border-b px-6 py-4 text-sm">2</td>
            <td class="border-b px-6 py-4 text-sm">
              CRUCIAL 2.5 INCH SATA SSD 512GB
            </td>
            <td class="border-b px-6 py-4 text-sm">2,650.00</td>
            <td class="border-b px-6 py-4 text-sm">7</td>
            <td class="border-b px-6 py-4 text-sm">18,550.00</td>
            <td class="border-b px-6 py-4 text-sm">3,339.00 (18%)</td>
            <td class="border-b px-6 py-4 text-sm">21,889.00</td>
          </tr>
          <tr>
            <td class="border-b px-6 py-4 text-sm">3</td>
            <td class="border-b px-6 py-4 text-sm">
              WD 2.5 inch Sata SSD 512GB
            </td>
            <td class="border-b px-6 py-4 text-sm">3,625.00</td>
            <td class="border-b px-6 py-4 text-sm">7</td>
            <td class="border-b px-6 py-4 text-sm">25,375.00</td>
            <td class="border-b px-6 py-4 text-sm">4,567.50 (18%)</td>
            <td class="border-b px-6 py-4 text-sm">29,942.50</td>
          </tr>
        </tbody>
      </table>

      <div class="mb-4 grid grid-cols-2 gap-8">
        <div class="mb-4">
          <h3 class="text-xl font-bold">Bank Details:</h3>
          <p class="text-md">Bank: HDFC</p>
          <p class="text-md">Account #: 50200012150031</p>
          <p class="text-md">IFSC: HDFC0003758</p>
          <p class="text-md">Branch: HSR LAYOUT - 2</p>
        </div>
        <div>
          <h3 class="text-md font-normal">
            For CLOUTE TECHNOLOGIES PRIVATE LIMITED
          </h3>
          <br /><br /><br /><br /><br /><br />
          <p class="text-sm">Authorized Signatory</p>
        </div>
      </div>

      <div class="mb-4 mt-0">
        <h3 class="text-xl font-bold">Notes:</h3>
        <p class="text-sm">
          Thanks for reaching out to us for your requirements.
        </p>
      </div>

      <div>
        <h3 class="text-2xl font-bold">Terms and Conditions:</h3>
        <p class="text-sm">1. Tax : GST 18% Included in the above Price.</p>
        <p class="text-sm">2. Warranty : Company Direct</p>
        <p class="text-sm">3. Validity : Till 20th of June 2024</p>
        <p class="text-sm">4. Delivery : Same Day from PO</p>
        <p class="text-sm">
          5. Payment : 50% Advance along with PO Balance on Delivery
        </p>
      </div>

      <!-- Download Button -->
      <!-- <div class="mt-8 flex justify-center">
        <button
          id="download-btn"
          class="rounded-lg bg-green-600 px-6 py-2 text-lg text-white hover:bg-green-700"
        >
          Download Quotation
        </button>
      </div> -->
    </div>
  </div>
</body>
